extends layout
block vars
	- var pageType = "home"
	- var title = "homepage"
block content
	div#circlelistContainer
block page_bottom
	script.
		new Circlelist({
			el: "#circlelistContainer",
			radius: 30,
			items: [{
					title: "Карпиченко Владимир",
					subtitle: "Директор по управлению активами. Агробизнес",
					pic: "/img/man1.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, harum voluptate quibusdam tenetur quas, libero tempora quisquam labore omnis incidunt, at quos minus veniam sed! Odit aperiam odio explicabo facilis dolorum, ipsam reprehenderit error vel doloribus molestias illum, quo eligendi ad dicta dolore, tenetur at sapiente quae omnis reiciendis. Maiores!</p>"
				},
				{
					title: "Жумажанов Михаил",
					subtitle: "Руководитель девелоперского направления",
					pic: "/img/man2.jpg",
					description: "<p>Имеет два высших образования.</p> <p>До прихода в RDI работал в ведущих девелоперских компаниях Московского региона, где прошел все ступени карьерной лестницы в системе службы технического заказчика от рядового специалиста в Баркли в 2002 г., до руководителя в компании Масштаб в 2010 г. Участвовал в реализации ряда крупных инвестиционно-строительных проектов в области жилищного строительства площадью более 500 тыс. кв. м от стадии разработки концепции и проектирования до этапа строительства и ввода в эксплуатацию. Также реализовал проекты коттеджных и мультиформатных поселков, технопарков, объектов производственного и офисного назначения.</p>"
				},
				{
					title: "Лакеев Юрий",
					subtitle: "Генеральный директор Land Management",
					pic: "/img/man3.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eveniet, repellat vero fugiat maiores excepturi id debitis laboriosam eos quas nemo deserunt nam. Doloribus, maxime, sequi! Autem expedita, omnis fuga commodi mollitia, nesciunt doloremque sed itaque perspiciatis architecto quos maxime quam optio alias, aut error voluptatem eius eveniet dignissimos modi.</p>"
				},
				{
					title: "Кристина<br>Штейнбрехер-Пфандт",
					subtitle: "Руководитель RDI.Creative",
					pic: "/img/man5.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia labore natus perspiciatis impedit quos vel iste eaque, quo. Perferendis tenetur nam cumque sequi voluptatibus tempore odit ipsam expedita numquam, quaerat, ea sint adipisci, distinctio aliquam architecto vel dicta eum dolorum? Eos eum repellendus natus tempore dolores in aperiam beatae vel.</p>"
				},
				{
					title: "Маркус Хубер",
					subtitle: "Вице-президент по международным связям",
					pic: "/img/man4.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae asperiores consequatur modi, natus corporis, itaque. Quis voluptas facilis deserunt suscipit officia vero quo, eveniet? Deserunt officiis, amet ut. Explicabo nam itaque reprehenderit aliquid repudiandae, voluptatem, inventore fuga obcaecati similique aperiam laudantium odio doloribus laborum id harum voluptates error quod quibusdam.</p>"
				},
				{
					title: "Лакеев Юрий",
					subtitle: "Генеральный директор Land Management",
					pic: "/img/man3.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eveniet, repellat vero fugiat maiores excepturi id debitis laboriosam eos quas nemo deserunt nam. Doloribus, maxime, sequi! Autem expedita, omnis fuga commodi mollitia, nesciunt doloremque sed itaque perspiciatis architecto quos maxime quam optio alias, aut error voluptatem eius eveniet dignissimos modi.</p>"
				},
				{
					title: "Кристина<br>Штейнбрехер-Пфандт",
					subtitle: "Руководитель RDI.Creative",
					pic: "/img/man5.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia labore natus perspiciatis impedit quos vel iste eaque, quo. Perferendis tenetur nam cumque sequi voluptatibus tempore odit ipsam expedita numquam, quaerat, ea sint adipisci, distinctio aliquam architecto vel dicta eum dolorum? Eos eum repellendus natus tempore dolores in aperiam beatae vel.</p>"
				},
				{
					title: "Маркус Хубер",
					subtitle: "Вице-президент по международным связям",
					pic: "/img/man4.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae asperiores consequatur modi, natus corporis, itaque. Quis voluptas facilis deserunt suscipit officia vero quo, eveniet? Deserunt officiis, amet ut. Explicabo nam itaque reprehenderit aliquid repudiandae, voluptatem, inventore fuga obcaecati similique aperiam laudantium odio doloribus laborum id harum voluptates error quod quibusdam.</p>"
				},
				{
					title: "Лакеев Юрий",
					subtitle: "Генеральный директор Land Management",
					pic: "/img/man3.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eveniet, repellat vero fugiat maiores excepturi id debitis laboriosam eos quas nemo deserunt nam. Doloribus, maxime, sequi! Autem expedita, omnis fuga commodi mollitia, nesciunt doloremque sed itaque perspiciatis architecto quos maxime quam optio alias, aut error voluptatem eius eveniet dignissimos modi.</p>"
				},
				{
					title: "Кристина<br>Штейнбрехер-Пфандт",
					subtitle: "Руководитель RDI.Creative",
					pic: "/img/man5.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia labore natus perspiciatis impedit quos vel iste eaque, quo. Perferendis tenetur nam cumque sequi voluptatibus tempore odit ipsam expedita numquam, quaerat, ea sint adipisci, distinctio aliquam architecto vel dicta eum dolorum? Eos eum repellendus natus tempore dolores in aperiam beatae vel.</p>"
				},
				{
					title: "Маркус Хубер",
					subtitle: "Вице-президент по международным связям",
					pic: "/img/man4.jpg",
					description: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae asperiores consequatur modi, natus corporis, itaque. Quis voluptas facilis deserunt suscipit officia vero quo, eveniet? Deserunt officiis, amet ut. Explicabo nam itaque reprehenderit aliquid repudiandae, voluptatem, inventore fuga obcaecati similique aperiam laudantium odio doloribus laborum id harum voluptates error quod quibusdam.</p>"
				}
			]
		});