doctype html
block vars
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        title #{title} | My website name
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='css/vendor.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
    body(style="padding: 5vw;")
        .b-page-content
            block content
        script(src='js/vendor.js')
        script(src='js/common.js')
        block page_bottom