.Circlelist
	&_pic
		background-position center
		background-repeat no-repeat
		background-size cover
		pointer-events none
	
	@media(max-width 767px)
		&_title
			font-size 1.5rem
	@media(max-width 1309px)
		clearfix()
		width auto!important;
		height auto!important;
		&_border
			display none
		&_pic
			border-radius 50%
			width: 11vw;
			height: 11vw;
			margin-bottom 2vw
		&_point
			height 11vw
			display table
			margin-bottom 2vw
			position static!important
		&_textbox
			display table-cell
			vertical-align middle
		&_desc
			font-size 1.3rem
			text-align left
			color #999
		&_spot
			float left
			width 11vw
		&_inner
			float right
			width calc(100% - 15vw)
		&_title
			font-weight 700
			color #000
			@media(min-width 768px)
				font-size 2.4rem
	@media(max-width 655px)
		&_pic
			width: 66px;
			height: 66px;
		&_point
			height 66px
		&_inner
			width calc(100% - 76px)
	@media(min-width 1310px)
		position relative
		margin 150px auto 0
		&_inner
			position absolute
			top 50%
			left 50%
			height 2px
			width 2px
			z-index 1
		&_point
			height 1px
			width 1px
			position absolute
			margin-top -1px
			margin-left -1px
			overflow visible
			cursor pointer
			&:after
				content ''
				width 6px
				height 6px
				background-color #000
				position absolute
				top 50%
				left 50%
				margin-top -3px
				margin-left -3px
				border-radius 50%
			&:hover:after
				background-color #53C5F2
		&_textbox
			white-space nowrap
			position absolute
			line-height 1.2
			
			&-left
				right 0
				text-align right
				padding-right 10px
			&-center
				transform translateX(-50%)
				text-align center
			&-right
				padding-left 14px
			&-top
				bottom 0
				padding-bottom 8px
			&-middle
				transform translateY(-50%)
			&-bottom
				padding-top 8px
			
		&_title
			color #999
			pointer-events none
			user-select none
		&_desc
			font-size 80%
			display none
			color #999
			font-size 1.1rem
			pointer-events none
			user-select none
		&_point:hover > &_textbox > &_title
			color #000
			font-size 2.9rem
			font-weight 700
		&_point:hover > &_textbox > &_desc
			display block
		&_spot
			border-radius 50%
			background-color #53C5F2
			top 20px
			bottom 20px
			left 20px
			right 20px
			position absolute
			overflow hidden
			pointer-events none
			z-index 1
		&_border
			position absolute
			top 10px 
			bottom 10px
			right 10px
			left 10px
			border 1px solid #53C5F2
			border-radius 50%
		&_pic
			position absolute
			z-index -10
			width 100%
			height 100%
			transition opacity 0.8s, visibility 0.8s
			visibility hidden
			opacity 0
			animation 'circlelist-bg-zoom' 16s ease-in-out infinite alternate
			&-active
				visibility visible
				opacity 1
	
	@keyframes 'circlelist-bg-zoom'
		from
			transform scale(1)
		to
			transform scale(1.2)