.Mandescr
	max-width 460px

	&_pic
		width 115px
		border-radius 50%
		overflow hidden
		margin 0 auto 25px
		background-size cover
		background-position center
		background-repeat no-repeat
		&:after
			content ''
			padding-top 100%
			display block
	&_title
		font-size 30px
		font-weight bold
		text-align center
	&_subtitle
		font-size 13px
		text-align center
		margin-bottom 60px
	&_desc
		line-height 1.5em
		font-size 15px
		&>p
			font-size 1.65rem
			margin-bottom: 1em;